{:rng {
   ;; Legal values for this are :default, :blocking, :non-blocking, :pkcs11,
   ;; and :sha1prng.
   :algorithm :non-blocking
   :seed-bytes 1024}
 :logging {
   :level :debug
   :nss [hxgm30]}}
